/* font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Titillium Web', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Titillium+Web:wght@200;600&display=swap");

* {
  font-family: "Bebas Neue", sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  line-height: 1.5;
}

html {
  font-size: 65%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: white;
  padding-left: 30rem;
}

section {
  padding: 1rem 5%;
  min-height: 100vh;
  font-size: 2.5rem;
  /* padding-right: -300px; */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  flex-flow: column;
  padding: 8rem 2rem;
  width: 32rem;
  text-align: center;
}

header .logo {
  text-transform: uppercase;
  color: #fff;
  font-size: 3rem;
  font-weight: bolder;
}

header .logo span {
  text-transform: uppercase;
  color: skyblue;
}

.nav-bar a {
  display: block;
  font-size: 2.1rem;
  color: #fff;
  margin: 1.8rem 0;
}

.nav-bar a:hover {
  letter-spacing: 0.2rem;
  color: skyblue;
  font-size: 3rem;
}

.social {
  font-size: 4rem;
  color: #fff;
}

.social a:hover {
  color: skyblue;
  font-size: 6rem;
}

#menuSelect {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
  background: skyblue;
  color: #fff;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 3rem;
  cursor: pointer;
  /* display:none; */
}

.cursorOne {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background: skyblue;
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 10000;
}

.cursorOne.active {
  height: 7rem;
  width: 7rem;
  opacity: 0.3;
}

.cursorTwo {
  position: absolute;
  top: 0;
  left: 0;
  height: 4rem;
  width: 4rem;
  border: 0.1rem solid skyblue;
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 10000;
  transition: 0.1s linear;
}

.cursorTwo.active {
  display: none;
}

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.home .photo {
  flex: 1 1 40rem;
}

.home.image img {
  width: 100%;

  /* padding-left: 200%; */
}

#home.home img {
  align-items: right;
}

#profilePic {
  border-radius: 25px;
  max-height: 100%;
  padding-right: 10px;
  width: 95%;
}

.content {
  flex: 1 1 40rem;
  max-width: 50%;
}

.home.content .hi {
  font-size: 2rem;
  color: skyblue;
  text-transform: uppercase;
}

.home .content h3 {
  font-size: 4.5 rem;
  color: #111;
  padding: 0.5rem 0;
}

.home .content h3 span {
  font-size: 3 rem;
  color: skyblue;
}

/* .content .info{
    font-size: 3.5 rem;
    color:#111;
    padding: .5rem 0;
} */

.content .info {
  font-size: 2.5rem;
  color: #111;
  padding: 0.5rem 0;
}

.content .text {
  font-size: 1.7 rem;
  color: #666;
  padding: 0.5rem 0;
}

.moreContent {
  font-size: 1.4rem;
}

.aboutMeText {
  color: #666;
  font-size: 75%;
}

.aboutMeText span {
  color: skyblue;
}

.containerAbout {
  padding-left: 135px;
  padding-top: 15px;
}

.containerAbout span {
  color: skyblue;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 2px;
}

.btn {
  display: inline-block;
  background-color: skyblue;
  color: #fff;
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  cursor: pointer;
  font-size: 70%;
}

.btn:hover {
  background-color: black;
}

.heading {
  font-size: 4rem;
  padding-bottom: 1rem;
  color: #111;
  text-transform: uppercase;
}

.heading span {
  color: skyblue;
}

#clickPhone:hover {
  cursor: pointer;
  color: black;
  font-size: 2.5rem;
}

#clickEmail:hover {
  cursor: pointer;
  color: black;
  font-size: 2.5rem;
}

#clickLocation:hover {
  cursor: pointer;
  color: black;
  font-size: 2.5rem;
}

.about .rowOne {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-bottom: 2rem;
}

.about .rowOne p {
  flex-wrap: wrap;
  padding-bottom: -600px;
  object-fit: cover;
  border: 1rem solid #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.rowOne .moreContent {
  flex: 1 1 50rem;
}

#downloadCv {
  font-size: 2.8rem;
  color: skyblue;
  padding: 5px 5px;
}

.hireMe {
  font-size: 2.8rem;
  color: skyblue;
  padding: 5px 5px;
}

.boxContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0.5rem 0;
}

#downloadCv:hover {
  font-size: 3.2rem;
  color: black;
}

.hireMe:hover {
  font-size: 3.2rem;
  color: black;
}

.rowTwo {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-size: 1.8rem;
}

.rowTwo .skills {
  padding-left: 385px;
  padding-bottom: -200px;
}

.rowTwo span {
  color: skyblue;
}

.aboutButton {
  padding-left: 175px;
}

.prgoress {
  padding: 1rem 0;
}

.progress h3 {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 0;
  font-size: 1.7rem;
  color: #111;
  font-weight: bold;
}

.progress .bar {
  width: 100%;
  background: #ccc;
  overflow: hidden;
  height: 1rem;
  border-radius: 50rem;
}

.progress .bar span {
  display: block;
  height: 100%;
  background: skyblue;
}

.progress:nth-child(2) .bar span {
  width: 70%;
}

.progress:nth-child(3) .bar span {
  width: 60%;
}

.progress:nth-child(4) .bar span {
  width: 70%;
}

.progress:nth-child(5) .bar span {
  width: 60%;
}

.skillset:hover {
  color: black;
  font-size: 3rem;
  width: 110%;
}
.skillset span:hover {
  color: black;
}

.serviceHeader {
  padding: 8px 8px;
  background-color: skyblue;
  color: white;
  border-radius: 5px;
  /* text-decoration-line: underline;
    text-decoration-color: skyblue; */
}

.serviceHeader:hover {
  font-size: 2.8rem;
  color: black;
  /* text-decoration-line: underline;
    text-decoration-color: skyblue; */
}

.service .boxContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.service .boxContainer .box {
  flex: 1 1 30rem;
  text-align: center;
  padding: 2rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.ableService span {
  color: skyblue;
}

.boxContainerThree {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.boxContainerThree .box {
  position: relative;
  flex: 1 1 33rem;
  border-left: 0.2rem solid skyblue;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

/* .portfolio .boxContainer{
    padding-bottom: -200px;
} */

.portfolio .boxContainer .box {
  flex: 1 1 30rem;
  height: 25rem;
  position: relative;
  overflow: hidden;
  border: 1rem solid#fff;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.portfolio .boxContainer .box h3 {
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
  font-size: 2.5rem;
  color: #333;
  text-transform: uppercase;
}

.portfolio .boxContainer .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
.portfolio .boxContainer .box:hover img {
  height: 70%;
  width: 70%;
  position: relative;
}

.iconLink {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.iconLink a {
  display: block;
  height: 4rem;
  width: 4rem;
  border-radius: 0.5rem;
  background: #eee;
  color: #333;
  font-size: 1.7rem;
  line-height: 4rem;
  text-align: center;
  margin-bottom: 1rem;
}

.iconLink a:hover {
  background-color: skyblue;
  color: white;
}

.contact {
  padding-top: -100px;
}

.contact .iconContainer {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.iconContainer .iconContact {
  flex: 1 1 25rem;
  text-align: center;
  padding: 2rem;
  background: #fff;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.contact .iconContainer .iconContact i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: skyblue;
  color: #fff;
  border-radius: 50%;
}

.iconContact h3 {
  color: #111;
  font-size: 2rem;
  padding: 5rem 0;
}

.iconContact p {
  color: #666;
  font-size: 1.4rem;
}

.iconContact:hover {
  background-color: skyblue;
}

.iconContact:hover i {
  color: black;
}

/* // basic media queries// */

@media (max-width: 991px) {
  html {
    font-size: 52%;
  }

  body {
    padding: 0;
  }

  #menuSelect {
    display: initial;
  }

  header {
    left: -120%;
  }

  header.active {
    left: 0%;
  }
}

/* setting attributes for when screen is at 450px width */
@media (max-width: 450px) {
  html {
    font-size: 48%;
  }

  header {
    width: 100%;
  }

  header.active {
    left: 0%;
  }
}
